streamlit== 0.84.2
pandas == 1.2.5
numpy == 1.20.3
selenium == 4.1.5
seleniumbase
lxml == 4.7.1
html5lib == 1.1
xlsxwriter == 3.0.2
multitasking == 0.0.9
beautifulsoup4 == 4.10.0
webdriver-manager == 3.5.4
protobuf==3.20.1
